body {
    overflow-x: hidden;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 250px;
}

.flex-grow-1 {
    margin-left: 280px; /* Evita que el contenido se solape con la barra */
}

svg {
    margin: 5px;
}

#title {
    margin-left: 10px;
    
}

table {
    table-layout: auto;
    width: 100%;
}
th, td {
    text-align: center;
    padding: 12px;
}
.clickable {
    cursor: pointer;
    color: blue;
    transition: color 0.3s ease;
}
.clickable:hover {
    color: darkblue;
    font-weight: bold;
}

/* Estilos para el encabezado de la tabla en modo claro */
.custom-header-light th {
    background-color: #0a0b0b !important; /* Azul */
    color: white !important;
    text-align: center;
}

/* Estilos para el encabezado de la tabla en modo oscuro */
.custom-header-dark th {
    background-color: #343a40 !important; /* Gris oscuro */
    color: white !important;
    text-align: center;
}





  