body {
    overflow-x: hidden;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 250px;
}

.flex-grow-1 {
    margin-left: 280px; /* Evita que el contenido se solape con la barra */
}

svg {
    margin: 5px;
}

#title {
    margin-left: 10px;
    
}

table {
    table-layout: auto;
    width: 100%;
}
th, td {
    text-align: center;
    padding: 12px;
}
.clickable {
    cursor: pointer;
    color: blue;
    transition: color 0.3s ease;
}
.clickable:hover {
    color: darkblue;
    font-weight: bold;
}

/* Estilos para el encabezado de la tabla en modo claro */
.custom-header-light th {
    background-color: #0a0b0b !important; /* Azul */
    color: white !important;
    text-align: center;
}

/* Estilos para el encabezado de la tabla en modo oscuro */
.custom-header-dark th {
    background-color: #343a40 !important; /* Gris oscuro */
    color: white !important;
    text-align: center;
}

.daterangepicker {
    z-index: 9999 !important; /* Asegura que esté sobre otros elementos */
    width: auto !important;
    min-width: 300px !important;
    font-family: Arial, sans-serif !important;
}

.daterangepicker .calendar-table {
    width: 100% !important;
}

.daterangepicker td, 
.daterangepicker th {
    padding: 5px !important;
}

.daterangepicker .applyBtn,
.daterangepicker .cancelBtn {
    padding: 6px 12px !important;
    font-size: 14px !important;
}

[data-bs-theme="dark"] .choices {
    background-color: #212529 !important;
    border-color: #444 !important;
    color: #fff !important;
}

[data-bs-theme="dark"] .choices__inner {
    background-color: #212529 !important;
    color: #fff !important;
}

[data-bs-theme="dark"] .choices__list--dropdown {
    background-color: #333 !important;
    color: #fff !important;
}

[data-bs-theme="dark"] .choices__item {
    color: #fff !important;
}

[data-bs-theme="dark"] .choices__list--dropdown .choices__item--selectable {
    background-color: #333 !important; /* Fondo oscuro */
    color: #fff !important; /* Texto blanco */
}

[data-bs-theme="dark"] .choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: #555 !important; /* Fondo más claro en hover */
    color: #fff !important; /* Mantiene el texto blanco */
}

[data-bs-theme="dark"] .choices__input {
    background-color: #333 !important; /* Fondo oscuro */
    color: #fff !important; /* Texto blanco */
    border-color: #555 !important; /* Borde más visible */
}

[data-bs-theme="dark"] .choices__input::placeholder {
    color: #aaa !important; /* Color del placeholder */
}

.form-control {
    background-color: var(--bs-body-bg) !important;
    color: var(--bs-body-color) !important;
    border-color: var(--bs-border-color) !important;
}






  